.SplashPage {
  width: 100%;
  min-height: 667px;
  height: 70vh;
	background-image: linear-gradient(to bottom, #0c1b33, #2d2b50, #553a6a, #84477d, #b45388, #cd5f88, #e46f86, #f78084, #f99285, #f9a489, #f8b592, #f7c59f, #fcefe4);
  position: relative;
}

.SplashPage .mountains-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.SplashPage .info {
  width: 100%;
  color: white;
  text-align: center;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SplashPage .info .name {
  font-size: 5rem;
  color: #74E8B0;
  letter-spacing: 5px;
}

.SplashPage .info .title {
  letter-spacing: 4px;
}

@media only screen and (max-width: 900px) {
  .SplashPage .info .name {
    font-size: 3.5rem;
  }
  .SplashPage .info .title {
    font-size: 2.5rem;
  }
}